<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет студента</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Личный кабинет студента</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Информация о студенте</h5>
            <p><strong>Личный номер студента:</strong> 123456</p>
            <p><strong>ФИО:</strong> Иванов Иван Иванович</p>
            <p><strong>Факультет:</strong> Мировая экономика</p>
            <p><strong>Курс:</strong> 3</p>
            <p><strong>Семестр:</strong> 6</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Учебный процесс</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Предмет</th>
                    <th>Баллы</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Высшая атематика</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Иностранный язык - 1</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Иностранный язык - 2</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Международный маркетинг</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Статистика</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Мировая экономика</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Микроэкономика</td>
                    <td>7</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>